<div class="row">
    <div class="span{{ public_ladder_feed_size|default:'3' }} page-header muted">
        <h2>Favorites</h2>
    </div>
</div>
{% for ladder in favorite_ladder_feed %}
<div class="row">
    <div class="span{{ favorite_ladder_feed_size|default:'3' }}">
        <h3><a href="/ladders/{{ ladder.id }}/">{{ ladder.name }}</a></h3>
    </div>
</div>
{% empty %}
<div class="row">
    <div class="span{{ favorite_ladder_feed_size|default:'3' }}">
        <h3>No favorites</h3>
    </div>
</div>
{% endfor %}