{% extends "base.html" %}

{% block head %}
<script type="text/javascript">
	$(function() {
		var playerNames = [{% autoescape off %}{{ player_names }}{% endautoescape %}];
		$(".player-name-autocomplete").autocomplete({
			source: playerNames
		});
	});
	
    $(function() {
        function toggleMatchEntry() {
            $(".match-entry").toggle('drop', {"direction": "right"}, 500);
        };

        $("#match-entry-toggle-button").click(function() {
            toggleMatchEntry();
            return false;
        });
    });
</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        {% if error_message %}<div>{{ error_message }}</div>{% endif %}
    </div>
    <div class="row">
    	<div class="span6">
    	{% include "ladders/show_ladder_large.html" %}
    	</div>
    	<div id="match-entry-span" class="span6">
    	{% include "ladders/match_entry_form.html" %}
    	</div>
    </div>
</div>
{% endblock %}