<div id="match-entry-form" class="table">
	<form class="form-horizontal" action="/ladders/{{ ladder.id }}/matches" method="post">{% csrf_token %}
	    <table id="match-entry-table">
	        <tbody>
	            <tr>
	                <td id="match-first-player">
	                	<label for="match-first-player-name-input">Player One</label>
	                    <input id="match-first-player-name-input" class="player-name-autocomplete" type="text" name="match-first-player-name"/>
	                </td>
	                <td>
	                	<label for="match-first-player-score-input">Score</label>
	                	<input id="match-first-player-score-input" class="input-mini" type="text" name="match-first-player-score"/>
	                </td>
	            </tr>
	            <tr>
	                <td id="match-second-player">
	                	<label for="match-second-player-name-input">Player Two</label>
	                    <input id="match-second-player-name-input" class="player-name-autocomplete" type="text" name="match-second-player-name"/>
	                </td>
	                <td>
	                	<label for="match-second-player-score-input">Score</label>
	                	<input id="match-second-player-score-input" class="input-mini" type="text" name="match-second-player-score"/>
	                </td>
	            </tr>
	        </tbody>
	    </table>
	    <div id="match-entry-form-submit">
	    	<input class="btn btn-large" type="submit" value="Submit Match" />
	    </div>   
	</form>
</div>