<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <div class="span2 brand">Monkeyladder</div>
            <div class="nav-collapse">
                <ul class="nav">
                    <li {% if navbar_active == 'home' %}class="active"{% endif %}><a href="/ladders/home">Home</a></li>
                    {% if request.user.is_authenticated %}<li {% if navbar_active == 'watched' %}class="active"{% endif %}><a href="/ladders/watched">Watching</a></li>{% endif %}
                    {% if request.user.is_authenticated %}<li {% if navbar_active == 'climbing' %}class="active"{% endif %}><a href="/ladders/climbing">Climbing</a></li>{% endif %}
                </ul>
            </div>
        {% if ladder %}
            <div class="nav-collapse">
                <ul class="nav nav-padded-left">
                    <li {% if navbar_active == 'ladder' %}class="active"{% endif %}><a href="/ladders/{{ ladder.id }}">{{ ladder.name }}</a></li>
                    <li {% if navbar_active == 'matches' %}class="active"{% endif %}><a href="/ladders/{{ ladder.id }}/matches">Matches</a></li>
                    <li {% if navbar_active == 'watchers' %}class="active"{% endif %}><a href="/ladders/{{ ladder.id }}/watchers">Watchers</a></li>
                </ul>
            </div>
        {% endif %}
        	<div class="nav-collapse">
                <div class="navbar-text pull-right">   
                	<ul class="nav">
                	{% if not request.user.is_authenticated %}
                    	<li class="session-link"><a href="/accounts/login">Log In</a></li>
                	{% else %}
                		<li class="session-link"><a href="/accounts/profile">Logged in as {{ request.user.get_full_name }}</a></li>
                   		<li class="session-link"><a href="/accounts/logout">Log Out</a></li>
                	{% endif %}
                    	<li class="admin-link"><a href="/admin">Administration</a></li>
                	</ul>
                </div>
            </div>        
        </div>
    </div>
</div>