<div class="row">
    <div class="span6 page-header muted">
        <h1>{{ ladder.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="span6">
        <table class="table table-striped">
            <thead>
                <th>Rank</th>
                <th>Name</th>
            </thead>
            <tbody>
            {% for player in players %}
                <tr class="ladder-rank-table-row">
                    <td>{{ player.rank }}</td>
                    <td>{{ player }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>