{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        {% if error_message %}<div>{{ error_message }}</div>{% endif %}
    </div>
    <div class="row">
        <div class="span6 page-header muted">
            <h2>Climbing</h2>
        </div>
    </div>
    {% if players %}
    {% for player in players %}
    <div class="row">
        <div class="span6">
            <h3><a href="/ladders/{{ player.ladder.id }}">{{ player.ladder }}</a></h3>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="row">
        <div class="span6">
            <h3>Not climbing any ladders</h3>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}