{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        {% if error_message %}<div>{{ error_message }}</div>{% endif %}
    </div>
    <div class="row">
        <div class="span6 page-header muted">
            <h2>Ladders</h2>
        </div>
    </div>
    {% if newest_ladders %}
    {% for ladder in newest_ladders %}
    <div class="row">
        <div class="span6">
            <h3><a href="/ladders/{{ ladder.id }}/">{{ ladder.name }}</a></h3>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="row">
        <div class="span6">
            <h3>No ladders are available</h3>
        </div>
    </div> 
    {% endif %}
</div>
{% endblock %}