{% extends "base.html" %}

{% block head %}
<style type="text/css">
	.match-entry {
		display: none;
	}

    #match-entry-toggle-button-div {
        text-align: center;
        height: 50%;
        margin-bottom: 25%;
        margin-top: 25%;
    }

    #match-entry-toggle-button {
        display: inline-block;
        margin: 0px auto 0px auto;
    }
</style>
<script type="text/javascript">
    $(function() {
        function toggleMatchEntry() {
            $(".match-entry").toggle('drop', {"direction": "right"}, 500);
        };

        $("#match-entry-toggle-button").click(function() {
            toggleMatchEntry();
            return false;
        });
    });
</script>
<script type="text/javascript">
    function unhide_player_update(id) {
        element = document.getElementById(id)
        if (element.style.display == "none") {
            element.style.display = "block"
        } else {
            element.style.display = "none"
        }
    }
</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        {% if error_message %}<div>{{ error_message }}</div>{% endif %}
    </div>
    <div class="row">
    	<div class="span6">
    	{% include "ladders/show_ladder_large.html" %}
    	</div>
    	<div class="span6">
    	{% include "ladders/match_entry_form.html" %}
    	</div>
    </div>
</div>
{% endblock %}