{% extends "base.html" %}

{% block head %}
<style type="text/css">
    #match-entry-toggle-button-div {
        text-align: center;
        height: 50%;
        margin-bottom: 25%;
        margin-top: 25%;
    }

    #match-entry-toggle-button {
        display: inline-block;
        margin: 0px auto 0px auto;
    }
</style>
<script type="text/javascript">
    $(function() {
        function toggleMatchEntry() {
            $(".match-entry").toggle('drop', {"direction": "right"}, 500);
        };

        $("#match-entry-toggle-button").click(function() {
            toggleMatchEntry();
            return false;
        });
    });
</script>
<script type="text/javascript">
    function unhide_player_update(id) {
        element = document.getElementById(id)
        if (element.style.display == "none") {
            element.style.display = "block"
        } else {
            element.style.display = "none"
        }
    }
</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        {% if error_message %}<div>{{ error_message }}</div>{% endif %}
    </div>
    <div class="row">
        <div class="span6 page-header muted">
            <h1>{{ ladder.name }}</h1>
        </div>
        <div class="span2">
            <div id="match-entry-toggle-button-div">
                <button id="match-entry-toggle-button" class="btn btn-medium">Register Match</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <table class="table table-striped">
                <thead>
                    <th>Rank</th>
                    <th>Name</th>
                </thead>
                <tbody>
                {% for player in players %}
                    <tr class="ladder-rank-table-row">
                        <td>{{ player.rank }}</td>
                        <td>{{ player }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="span1 match-entry">
            <form class="form-horizontal" action="/ladders/{{ ladder.id }}/update" method="post">{% csrf_token %}
                <table class="table table-striped">
                    <thead>
                        <th>Score</th>
                    </thead>
                    <tbody>
                    {% for player in players %}
                        <tr class="ladder-rank-table-row">
                            <td class="match-entry" id="match-entry-player-{{ player.id }}">
                                <input type="text" class="input-mini" name="match-entry-player-{{ player.id }}-score"/>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <input class="btn btn-medium" type="submit" value="Update" />
            </form>
        </div>
    </div>
</div>
{% endblock %}