{% extends "base.html" %}

{% block head %}
<script type="text/javascript">
    $(function() {
        $( "#matches-accordion" ).accordion({ animated: 'drop', active: false, event: 'mouseover' });
    });
</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        {% if error_message %}<div>{{ error_message }}</div>{% endif %}
    </div>
    <div class="row">
        <div class="span6">
            <div class="page-header muted">
                <h2>{{ ladder }}&nbsp;Matches</h2>
            </div>
            <div id="matches-accordion" class="ui-accordian ui-widget ui-accordian-icons">
                {% for match in matches %}
                <h3><a href="#">{{ match.winner }} vs {{ match.loser }}</a></h3>
                <div>Match was played at {{ match.match_date }}</div>
                {% endfor %}
            </div>
            <div id="matches-pager">
                <button>More</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}