<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Monkeyladder | {{ ladder.name }}</title>
    {% include "ladders/styles.html" %}
    <script>
        $(function() {
            $( "#matches-accordion" ).accordion();
        });
    </script>
</head>
<body>
{% include "ladders/navbar.html" %}
    <div class="container">
        <div class="row">
            <br /><br /><br />
            {% if error_message %}<div>{{ error_message }}</div>{% endif %}
        </div>
        <div class="row">
            <div class="span6">
                <div class="page-header muted">
                    <h2>{{ ladder }}&nbsp;Matches</h2>
                </div>
                <div id="matches-accordion" class="ui-accordian ui-widget ui-accordian-icons">
                    {% for match in matches %}
                    <h3><a href="#">{{ match.winner }} vs {{ match.loser }}</a></h3>
                    <div>Match was played at {{ match.match_date }}</div>
                    {% endfor %}
                </div>
                <div id="matches-pager">
                    <button>More</button>
                </div>
            </div>
        </div>

    </div>
</body>
</html>