<div class="row">
    <div class="span{{ ladder_display_size|default:'6' }} page-header muted">
        <h1>{{ ladder.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="span{{ ladder_display_size|default:'6' }}">
        <table class="table table-striped">
            <thead>
                <th>Rank</th>
                <th>Name</th>
            </thead>
            <tbody>
            {% for ranked in ladder.ranking %}
                <tr class="ladder-rank-table-row">
                    <td>{{ ranked.rank }}</td>
                    <td>{{ ranked.player }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>