{% extends "base.html" %}
{% block content %}
<div id="ladder-page" class="container">
    <div class="row">
        <div class="span6">
            <div class="row">
	            <div id="ladder-display-span" class="span6">
	           {% include "leaderboard/content/ladder_display.html" %}
	            </div>
            </div>
        </div>
        <div class="span6">
            <div class="row">
                <div id="match-entry-span" class="span6 ajax-load" data-load="{{ ladder.get_absolute_url }}/matches/create"></div>
            </div>
            <div class="row">
                <div id="match-feed-span" class="span6 ajax-load" data-load="/ladders/leaderboard/content/matches/?ladder_id={{ ladder.id }}"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$(function() {
	$("#match-entry-span").bind("loaded", function() {  
		setupMatchEntry()
    })
})
</script>
{% endblock %}