{% load humanize %}

<div class="row">
    <div class="span{{ match_feed_size|default:'6' }} page-header muted">
        <h2>{{ match_feed_name|default:'Recent Matches' }}</h2>
    </div>
</div>
{% for match in match_feed %}
<div class="row">
    <div class="span{{ match_feed_size|default:'6' }}">
        <h3><a href="/ladders/{{ ladder.id }}/matches/?match={{ match.id }}">{{ match }}</a> {{ match.created|naturaltime }}</h3>
    </div>
</div>
{% empty %}
<div class="row">
    <div class="span{{ match_feed_size|default:'6' }}">
        <h3>{{ match_feed_empty|default:'No matches available' }}</h3>
    </div>
</div>
{% endfor %}