{% extends "base.html" %}

{% load humanize %}

{% block head %}
<script type="text/javascript">
	$(function() {
	    $(".match-entry").bind("click", function(event) {
	    	$("#match-detail > div").css("display", "none")
	    	$("#" + event.currentTarget.id + "-detail").css("display", "block")
	    })
	});
</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="span6">
            <div class="page-header muted">
                <h2>{{ ladder }}&nbsp;Matches</h2>
            </div>
            <div>
                <table class="table">
                    <thead>
                        <th>Match</th>
                        <th>Date</th>
                    </thead>
                    <tbody>
                    {% for match in matches %}
	                   <tr id="match-entry-{{ match.id }}" class="match-entry">
	                       <td>{{ match }}</td>
	                       <td>Played {{ match.created|naturaltime }}</td>
	                   </tr>      
	                {% empty %}
	                   <td>-</td>
	                   <td>-</td>
	                {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="matches-pager">
                <a href="#" class="btn btn-medium">More</a>
            </div>
        </div>
        <div class="span6">
            <div id="match-detail">
	        {% for match in matches %}
	            <div id="match-entry-{{ match.id }}-detail" style="display: none">
	               <h2>{{ match }}</h2>
	               <h3>{{ match.created|naturaltime }}</h3>
	            </div>      
	        {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
