<script type="text/javascript">
	$(function() {
	    $("#id_ladder_id").attr("value", {{ ladder.id }});
	    //$("#id_ladder_id").css("display", "none");
	    $("#id_player_one_score").addClass("input-mini")
	    $("#id_player_two_score").addClass("input-mini")
	    $("#id_player_one").addClass("player-name-autocomplete")
	    $("#id_player_two").addClass("player-name-autocomplete")
	});
	$(function() {
        $(".player-name-autocomplete").autocomplete({
            source: [{% autoescape off %}{{ player_names }}{% endautoescape %}], delay: 50
        });
    });
</script>

<div id="match-entry-form">
	<form class="" action="/ladders/{{ ladder.id }}/matches/" method="post">{% csrf_token %}
	    <table id="match-entry-table">
	        <tbody>
	            <tr>
	                <td id="match-first-player" class="match-player-entry">
	                	{{ form.player_one.label_tag }}{{ form.player_one }}
	                </td>
	                <td class="match-score-entry">
	                   {{ form.player_one_score.label_tag }}{{ form.player_one_score }}
	                </td>
	            </tr>
	            <tr>
	                <td id="match-second-player" class="match-player-entry">
	                	{{ form.player_two.label_tag }}{{ form.player_two }}
	                </td>
	                <td class="match-score-entry">
	                	{{ form.player_two_score.label_tag }}{{ form.player_two_score }}
	                </td>
	            </tr>
	        </tbody>
	    </table>
	    {{ form.ladder_id }}
	    <div id="match-entry-form-submit">
	    	<input class="btn btn-large" type="submit" value="Submit Match" />
	    </div>   
	</form>
	{% if success_message %}
		<div id="match-created-success" class="success">
			<div>
				<p>{{ success_message }}</p>
			</div>
		</div>
	{% endif %}
	{% if error_message %}
		<div id="site-error" class="error">
			<div>
				<p>{{ error_message }}</p>
			</div>
		</div>
	{% endif %}
</div>