<script type="text/javascript">
	$(function() {
	    $("#id_ladder_id").attr("value", {{ ladder.id }});
	    $("#id_player_one_score").addClass("input-mini")
	    $("#id_player_two_score").addClass("input-mini")
	    $("#id_player_one").addClass("player-name-autocomplete")
	    $("#id_player_two").addClass("player-name-autocomplete")
	});
	$(function() {
        $(".player-name-autocomplete").autocomplete({
            source: [{% autoescape off %}{{ player_names }}{% endautoescape %}], delay: 50
        });
    });
	$(function() {
	      var form = $("#match-entry-form > form");
	      form.submit(function(e) {
	          $("#match-entry-form-submit > input").attr('disabled', true)
	          $("#match-entry-span").load(
	              form.attr('action'),
	              form.serializeArray(),
	              function(responseText, responseStatus) {
	                  $("#match-entry-form-submit > input").attr('disabled', false)
	                  // copy of above
	                  $("#id_ladder_id").attr("value", {{ ladder.id }});
				      $("#id_player_one_score").addClass("input-mini")
				      $("#id_player_two_score").addClass("input-mini")
				      $("#id_player_one").addClass("player-name-autocomplete")
				      $("#id_player_two").addClass("player-name-autocomplete")
				      $(".player-name-autocomplete").autocomplete({
				          source: [{% autoescape off %}{{ player_names }}{% endautoescape %}], delay: 50
				      });
	              }
	          );
	          e.preventDefault(); 
	      });
	  });
</script>

{% include "leaderboard/match_entry_form_child.html" %}