<div id="match-entry-form">
	{% if not games %}
    <form class="" action="/ladders/{{ ladder.id }}/leaderboard/matches/create/" method="post">{% csrf_token %}
        <table id="match-entry-table">
            <tbody>
                <tr>
                    <td id="match-first-player" class="match-player-entry">
                        {{ form.player_one.label_tag }}{{ form.player_one }}
                    </td>
                    <td class="match-score-entry">
                       {{ form.player_one_score.label_tag }}{{ form.player_one_score }}
                    </td>
                </tr>
                <tr>
                    <td id="match-second-player" class="match-player-entry">
                        {{ form.player_two.label_tag }}{{ form.player_two }}
                    </td>
                    <td class="match-score-entry">
                        {{ form.player_two_score.label_tag }}{{ form.player_two_score }}
                    </td>
                </tr>
            </tbody>
        </table>
        {{ form.ladder_id }}
        <input type="hidden" name="next" value="{{ request.path }}"/>
        <div id="match-entry-form-submit">
            <input class="btn btn-large" type="submit" value="Submit Match" />
            <a href="/ladders/{{ ladder.id }}?games=3" class="btn btn-large">Game Entry</a>
        </div>
    </form>
    {% else %}
    <form class="" action="/ladders/{{ ladder.id }}/leaderboard/matches/create/?games=3" method="post">{% csrf_token %}
        <table id="match-entry-table">
            <tbody>
                <tr>
                    <td id="match-first-player" class="match-player-entry">
                        {{ form.player_one.label_tag }}{{ form.player_one }}
                    </td>
                    <td id="match-second-player" class="match-player-entry">
                        {{ form.player_two.label_tag }}{{ form.player_two }}
                    </td>
                </tr>
                {% for game in form.games %}
               	<tr>
                   {% for score in game %}
                   <td>{{ score }}</td>
                   {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ form.ladder_id }}
        <input type="hidden" name="next" value="{{ request.path }}"/>
        <div id="match-entry-form-submit">
            <input class="btn btn-large" type="submit" value="Submit Match" />
            <a href="/ladders/{{ ladder.id }}/" class="btn btn-large">Simple Entry</a>
            <a href="/ladders/{{ ladder.id }}?games={{ games|add:"2" }}" class="btn btn-large">More Games</a>
            <a href="/ladders/{{ ladder.id }}?games={{ games|add:"-2" }}" class="btn btn-large">Less Games</a>
        </div>
    </form>
    {% endif %}
    {% if form.success %}
        <div id="match-created-success" class="success">
            <div>
                <p>{{ form.success }}</p>
            </div>
        </div>
    {% endif %}
    {% if form.errors %}
        <div id="site-error" class="error">
            <div>
                <p>{{ form.errors }}</p>
            </div>
        </div>
    {% endif %}
</div>
<script type="text/javascript">
    $("#id_ladder_id").attr("value", {{ ladder.id }});
    $(".player-name-autocomplete").autocomplete({
        source: [{% autoescape off %}{{ player_names }}{% endautoescape %}], delay: 50
    });
	$(function() {
	    var form = $("#match-entry-form > form");
	    form.submit(function(e) {
	        $("#match-entry-form-submit > input").attr('disabled', true)
	        $("#match-entry-span").load(form.attr('action'), form.serializeArray(), function(responseText, responseStatus) {
	            $("#match-entry-form-submit > input").attr('disabled', false)
	            $("#ladder-display-span").load("content/ladder_display/")
	            $("#match-feed-span").load("leaderboard/content/match_feed/")
	        });
	        e.preventDefault(); 
	    });
	});
</script>