{% extends "base.html" %}

{% load humanize %}

{% block head %}
{{ block.super }}
<script type="text/javascript">
	$(function () {
		$("#match-feed-span").load("/ladders/leaderboard/content/matches/?ladder_id={{ ladder.id }}&size={{ match_feed_size }}&match_bucket=1", function(response, status) {
			if (status == "error") {
				alert("ERROR")
			} else {
				fix_match_links()
				{% if match_id %}
				$("#match-feed-entry-{{ match_id }} a").trigger("click")
				{% endif %}
			}
		})
	})
</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div id="match-feed-span" class="span6"></div>
        <div id="match-bucket" class="span6"></div>
    </div>
</div>
{% endblock %}
