{% extends "base.html" %}

{% block head %}
<script type="text/javascript">  
    $(function() {
        function toggleMatchEntry() {
            $(".match-entry").toggle('drop', {"direction": "right"}, 500);
        };

        $("#match-entry-toggle-button").click(function() {
            toggleMatchEntry();
            return false;
        });
    });
</script>
{% endblock %}

{% block content %}
<div id="ladder-page" class="container">
    <div class="row">
        <div class="span6">
            <div class="row">
	            <div id="ladder-display-span" class="span6">
	           {% include "core/content/ladder_display.html" %}
	            </div>
            </div>
            <div class="row">
                <div id="ladder-comment-span" class="span6">
                {% include "core/content/comments.html" with commentable=ladder %}
                </div>
            </div>
        </div>
        <div class="span6">
            {% if watcher.admin %}
            <div class="row">
                <div id="leaderboard-config-span" class="span6">
                {% include "leaderboard/content/leaderboard_config_form.html" with form=leaderboard_config_form %}
                </div>
            </div>
            {% endif %}
            <div class="row">
                <div id="match-entry-span" class="span6">
                {% include "leaderboard/content/match_entry_form.html" %}
                </div>
            </div>
            <div class="row">
                <div id="match-feed-span" class="span6">
                {% include "leaderboard/content/match_feed.html" %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}