{% extends "base.html" %}

{% block content %}
<div id="edit-profile-page" class="container">
	<div class="row">
	    <div class="span12 monkey-form-span">
	        <div class="monkey-form-div">
	            <form method="post" action="/accounts/profile/edit">{% csrf_token %}
	                <table>
	                    <tr id="edit-profile-form-first-name">
	                        <td class="monkey-form-label">{{ form.first_name.label_tag }}</td>
	                        <td class="monkey-form-input">{{ form.first_name }}</td>
	                    </tr>
	                    <tr id="edit-profile-form-last-name">
	                        <td class="monkey-form-label">{{ form.last_name.label_tag }}</td>
	                        <td class="monkey-form-input">{{ form.last_name }}</td>
	                    </tr>
	                    <tr id="edit-profile-form-email">
	                        <td class="monkey-form-label">{{ form.email.label_tag }}</td>
	                        <td class="monkey-form-input">{{ form.email }}</td>
	                    </tr>
	                </table>
					<div class="monkey-form-submit-div">
	                	<input class="btn btn-large" type="submit" value="Save" />
	        
	                </div>
	                <input type="hidden" name="next" value="{{ next }}" />
	            </form>
	        </div>
	    </div>
	</div>
</div>
{% endblock %}