{% extends "base.html" %}

{% block content %}
<div id="login-page" class="container">
	<div class="row">
	    <div class="span12 monkey-form-span">
	    {% if form.errors %}
			<p>Your username and password didn't match. Please try again.</p>
		{% endif %}
	        <div class="monkey-form-div">
	            <form method="post" action="{% url django.contrib.auth.views.login %}">{% csrf_token %}
	                <table>
	                    <tr>
	                        <td>{{ form.username.label_tag }}</td>
	                        <td>{{ form.username }}</td>
	                    </tr>
	                    <tr>
	                        <td>{{ form.password.label_tag }}</td>
	                        <td>{{ form.password }}</td>
	                    </tr>
	                </table>
					<div class="monkey-form-submit-div">
	                	<input class="btn btn-large" type="submit" value="Log In" />
	                </div>
	                <input type="hidden" name="next" value="{{ next }}" />
	            </form>
	            <div id="register-link">
					<a href="/accounts/register">Click Here To Register</a>
				</div>
	        </div>   
	    </div>
	</div>
</div>
{% endblock %}