{% extends "base.html" %}
{% block content %}
<div id="profile-page" class="container">
	<div class="row">
	    <div class="span6">
	        <div>
	        	<h2>{{ user.get_profile.name }}'s Profile</h2>
	        </div>
	    </div>
	    <div class="span6">
			{% include "accounts/content/user_info.html" %}
		</div>
	</div>
	<div class="row">
		<div class="span6">
			<div class="row">
				<div id="matchup-feed-span" class="span6 ajax-load" data-load="/ladders/leaderboard/content/matchups/?user_id={{ user.id }}"></div>
			</div>
            {% include "ladders/content/watched_feed.html" %}
		</div>
		<div class="span6">
			<div class="row">
				<div id="player-stats-span" class="span6 ajax-load" data-load="/ladders/leaderboard/content/stats/?user_id={{ user.id }}" ></div>
			</div>
			<div class="row">
				<div id="match-feed-span" class="span6 ajax-load" data-load="/ladders/leaderboard/content/matches/?user_id={{ user.id }}"></div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
