{% extends "base.html" %}

{% load humanize %}

{% block content %}
<div id="profile-page" class="container">
	<div class="row">
	    <div class="span6">
	        <div>
	        	<h2>{{ user.get_profile.name }}'s Profile</h2>
	        </div>
	    </div>
		<div class="span6">	        
	        <div>
	        	<table class="table	">
	        		<tr>
			        	<td>Username</td>
			        	<td>{{ user.username }}</td>
			    	</tr>
			    	<tr>
			        	<td>First Name</td>
			        	<td>{{ user.first_name }}</td>
	        		</tr>
	        		<tr>
			        	<td>Last Name</td>
			        	<td>{{ user.last_name }}</td>
	        		</tr>
	        		<tr>
			        	<td>Email</td>
			        	<td>{{ user.email}}</td>
	        		</tr>
	        	</table>
	        </div>
	    </div>
	</div>
	<div class="row">
		<div class="span6">
			<div>
				<h3>Ladders</h3>
				<table class="table">
				{% for ladder in ladders %}
					<tr>
						<td>{{ ladder }}</td>
						<td><a class="btn" href="/ladders/{{ ladder.id }}">View</a></td>
					</tr>
				{% empty %}
					<tr>
						<td>No Ladders</td>
					</tr>
				{% endfor %}
				</table>
			</div>
		</div>
		<div class="span6">
			<div>
				<h3>Recent Matches</h3>
				<table class="table">
				{% for match in recent_matches %}
					<tr>
						<tr>
							<td>{{ match }}</td>
							<td>{{ match.created|naturaltime }}</td>
							<td><a class="btn" href="/ladders/{{ match.ladder.id }}/leaderboard/matches/?id={{ match.id }}">View</a></td>
						</tr>
					</tr>
				{% empty %}
					<tr>
						<td>No Matches</td>
					</tr>
				{% endfor %}
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}