{% extends "base.html" %}

{% block content %}
<div id="register-page" class="container container-dark">
	<div class="row">
	    <div class="span12">
	        <div class="monkey-form-div">
	            <form class="form-horizontal" method="post" action="/accounts/register/">{% csrf_token %}
                    <fieldset>
                        <div id="id_username-group" class="control-group">{{ form.username.label_tag }}
                           <div class="controls">{{ form.username }}</div>
                        </div>
                        <div id="id_password1-group" class="control-group">{{ form.password1.label_tag }}
                           <div class="controls">{{ form.password1 }}</div>
                        </div>
                        <div id="id_password2-group" class="control-group">{{ form.password2.label_tag }}
                           <div class="controls">{{ form.password2 }}</div>
                        </div>
                        <div id="id_email-group" class="control-group">{{ form.email.label_tag }}
                           <div class="controls">{{ form.email }}</div>
                        </div>
                        <div id="id_first_name-group" class="control-group">{{ form.first_name.label_tag }}
                           <div class="controls">{{ form.first_name }}</div>
                        </div>
                        <div id="id_last_name-group" class="control-group">{{ form.last_name.label_tag }}
                           <div class="controls">{{ form.last_name }}</div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <input type="hidden" name="next" value="{{ next }}" />
                    </fieldset>
					<div class="monkey-form-actions">
	                	<input id="register-button" class="btn btn-large btn-success" type="submit" value="Register" />
	                    <a id="register-page-cancel-link" class="btn btn-large" href="/home/">Cancel</a>
	                </div> 
	            </form>
	        </div>
	    </div>
	</div>
</div>
<script type="text/javascript">
    $(".control-group label").addClass("control-label");
    $("#register-page input").attr("autocomplete", "off")
    $(function () {
        function errorTooltip(id, content) {
            var group = $("#" + id)
            group.addClass("form-error")
            group.tooltip({
                placement: "right", title: content
            });
        }
        {% if form.errors.username %}errorTooltip("id_username-group", "{{ form.errors.username|removetags:'ul li'}}"){% endif %}
        {% if form.errors.password1 %}errorTooltip("id_password1-group", "{{ form.errors.password1|removetags:'ul li'}}"){% endif %}
        {% if form.errors.password2 %}errorTooltip("id_password2-group", "{{ form.errors.password2|removetags:'ul li'}}"){% endif %}
        {% if form.errors.email %}errorTooltip("id_email-group", "{{ form.errors.email|removetags:'ul li'}}"){% endif %}
        {% if form.errors.first_name %}errorTooltip("id_first_name-group", "{{ form.errors.first_name|removetags:'ul li'}}"){% endif %}
        {% if form.errors.last_name %}errorTooltip("id_last_name-group", "{{ form.errors.last_name|removetags:'ul li'}}"){% endif %}
    })
</script>
{% endblock %}