{% extends "base.html" %}

{% block head %}
<script type="text/javascript">
	$(function() {
		var errorFields = [
			{% if form.errors.username %}"username",{% endif %}
		    {% if form.errors.password1 %}"password1",{% endif %}
		    {% if form.errors.password2 %}"password2",{% endif %}
		    {% if form.errors.email %}"email",{% endif %}
		    {% if form.errors.first_name %}"first-name",{% endif %}
		    {% if form.errors.last_name %}"last-name",{% endif %}
		]
		for (var i = 0; i < errorFields.length; i++) {
			$("#register-form-"+errorFields[i]).css("background-color", "#FF8C8C") 
			$("#register-form-"+errorFields[i]+"-error").position({of: $("#register-form-"+errorFields[i]), my: "left center", at: "right center"});
		}
	});
	{% if form.success %}
	$(function() {
		var fields = ["username", "password1", "password2", "email", "first-name", "last-name"]
		for (var i = 0; i < fields.length; i++) { $("#register-form-"+fields[i]).css("background-color", "#8CD1A3") }
		$("#register-form-success").css("background-color", "#8CD1A3")
	});
	{% endif %}
</script>
<style type="text/css">
	.position-absolute {
		position: absolute;
	}
</style>
{% endblock %}

{% block content %}
<div id="register-page" class="container">
	<div class="row">
	    <div class="span12 monkey-form-span">
	        <div class="monkey-form-div">
	        {% if form.success %}
				<div id="register-form-success">Account created, check your email for an activation link</div>
			{% endif %}
	            <form method="post" action="/accounts/register">{% csrf_token %}
	                <table>
	                    <tr id="register-form-username">
	                        <td>{{ form.username.label_tag }}</td>
	                        <td>{{ form.username }}</td>
	                    </tr>
	                    <tr id="register-form-password1">
	                        <td>{{ form.password1.label_tag }}</td>
	                        <td>{{ form.password1 }}</td>
	                    </tr>
	                    <tr id="register-form-password2">
	                        <td>{{ form.password2.label_tag }}</td>
	                        <td>{{ form.password2 }}</td>
	                        
	                    </tr>
	                    <tr id="register-form-email">
	                        <td>{{ form.email.label_tag }}</td>
	                        <td>{{ form.email }}</td>
	                    </tr>
	                    <tr id="register-form-first-name">
	                        <td>{{ form.first_name.label_tag }}</td>
	                        <td>{{ form.first_name }}</td>
	                    </tr>
	                    <tr id="register-form-last-name">
	                        <td>{{ form.last_name.label_tag }}</td>
	                        <td>{{ form.last_name }}</td>
	                    </tr>
	                </table>
					<div class="monkey-form-submit-div">
	                	<input class="btn btn-large" type="submit" value="Register" />
	        
	                </div>
	                <input type="hidden" name="next" value="{{ next }}" />
	            </form>
	        </div>
	    </div>
	</div>
</div>
{% if form.errors.username %}
<div id="register-form-username-error" class="position-absolute register-form-error">{{ form.errors.username|removetags:"ul li" }}</div>
{% endif %}
{% if form.errors.password1 %}
<div id="register-form-password1-error" class="position-absolute register-form-error">{{ form.errors.password1|removetags:"ul li" }}</div>
{% endif %}
{% if form.errors.password2 %}
<div id="register-form-password2-error" class="position-absolute register-form-error">{{ form.errors.password2|removetags:"ul li" }}</div>
{% endif %}
{% if form.errors.email %}
<div id="register-form-email-error" class="position-absolute register-form-error">{{ form.errors.email|removetags:"ul li" }}</div>
{% endif %}
{% if form.errors.first_name %}
<div id="register-form-first-name-error" class="position-absolute register-form-error">{{ form.errors.first_name|removetags:"ul li" }}</div>
{% endif %}
{% if form.errors.last_name %}
<div id="register-form-last-name-error" class="position-absolute register-form-error">{{ form.errors.last_name|removetags:"ul li" }}</div>
{% endif %}
{% endblock %}