{% extends "base.html" %}

{% block content %}
<div id="profile-page" class="container">
	<div class="row">
	    <div class="span6">
	        <div>
	        	<h2>{{ user.get_profile.name }}'s Profile</h2>
	        </div>
	    </div>
	    <div class="span6">
		{% include "accounts/content/user_info.html" %}
		</div>
	</div>
	<div class="row">
		<div class="span6">
		{% include "core/content/watched_feed.html" %}
		</div>
		<div class="span6">
		{% include "leaderboard/content/player_match_stats.html" %}
		{% include "leaderboard/content/player_matchup_stats.html" %}
		{% include "leaderboard/content/player_match_feed.html" %}
		</div>
	</div>
</div>
{% endblock %}