{% extends "base.html" %}

{% block content %}
<div id="ladder-config-page" class="container container-dark">
	<div class="row">
	    <div id="ladder-config-span" class="span12">
	        <div class="monkey-form-div">
			    <form class="form-horizontal" method="post" action="{{ ladder.get_absolute_url }}/configure/">{% csrf_token %}
			        <fieldset>
			            <div id="id_name-group" class="control-group">{{ form.name.label_tag }}
					        <div class="controls">{{ form.name }}</div>
					    </div>
					    <div id="id_rungs-group" class="control-group">{{ form.rungs.label_tag }}
					        <div class="controls">{{ form.rungs }}</div>
					    </div>
					    <div id="id_is_private-group" class="control-group">{{ form.is_private.label_tag }}
					        <div class="controls">{{ form.is_private }}</div>
					    </div>
					    <script type="text/javascript">
						    $(".control-group label").addClass("control-label");
						    $(function () {
						        function errorTooltip(id, content) {
						            var group = $("#" + id)
						            group.addClass("form-error")
						            group.tooltip({
						                placement: "right", title: content
						            });
						        }
						        {% if form.errors.name %}errorTooltip("id_name-group", "{{ form.errors.name|removetags:'ul li'}}"){% endif %}
						        {% if form.errors.rungs %}errorTooltip("id_rungs-group", "{{ form.errors.rungs|removetags:'ul li'}}"){% endif %}
						        {% if form.errors.is_private %}errorTooltip("id_is_private-group", "{{ form.errors.is_private|removetags:'ul li'}}"){% endif %}
						    })
						</script>
			        </fieldset>
			        {% block extra_config_fields %}{% endblock %}
			        <fieldset>
			            <input type="hidden" name="next" value="{{ request.path }}"/>
			        </fieldset>
			        <div class="monkey-form-actions">
			            <input class="btn btn-large" type="submit" value="Save" />
			            <a class="btn btn-large" href="{{ ladder.get_absolute_url }}">Cancel</a>
			        </div>
			    </form>
			</div>
	    </div>
	</div>
	<div class="row">
		<div class="span12">
		{% include "core/content/ladder_delete.html" %}
		</div>
	</div>
</div>
{% endblock %}