<div class="row">
	<div class="span{{ watcher_feed_size|default:'6' }}">
	    <div class="page-header muted">
	        <h2>{{ ladder.name }} Watchers</h2>
	    </div>
	   	<div>
	        <table class="table">
	            <thead>
	                <th>Name</th>
	                <th>Admin</th>
	                <th>Moderator</th>
	            </thead>
	            <tbody>
	            {% for watcher in watcher_feed %}
		            <tr>
		                <td>{{ watcher }}</td>
		                <td>{% if watcher.admin %}<i class="icon-ok"/>{% else %}<i class="icon-remove"/>{% endif %}</td>
		                <td>{% if watcher.mod %}<i class="icon-ok"/>{% else %}<i class="icon-remove"/>{% endif %}</td>
		            </tr>
	         	{% empty %}
		            <td>-</td>
		            <td>-</td>
		            <td>-</td>
	         	{% endfor %}
	            </tbody>
	        </table>
	    </div>
    </div>
</div>