{% extends "basic/content/ladder_display.html" %}
{% block ladder_entries %}
<thead>
    <th>Rank</th>
    <th>Name</th>
    <th></th>
</thead>
<tbody>
{% for ranked in ladder.ranking %}
    <tr id="ladder-rank-{{ ranked.rank }}" class="ladder-rank-table-row">
        <td class="rank">{{ ranked.rank }}</td>
        <td>{{ ranked.display }}</td>
        <td class="view-button-parent"><a class="btn" href="{{ ranked.player.user.get_profile.get_absolute_url }}">Profile</a></td>
    </tr>
{% empty %}
    <tr><td>-</td><td>-</td></tr>
{% endfor %}
</tbody>
{% endblock %}
