<div class="row">
    <div class="span{{ ladder_display_size|default:'6' }} page-header muted">
        <h1 id="ladder-header">{{ ladder.name }}</h1>
        <a id="ladder-cancel-link" class="btn btn-medium absolute" href="{{ ladder.get_absolute_url }}">Cancel</a>
        <a id="ladder-save-link" class="btn btn-medium absolute" href="#">Save</a>
    </div>
</div>
<div class="row">
    <div class="span{{ ladder_display_size|default:'6' }}">
        <table class="table table-striped">
            <thead>
                <th>Rank</th>
                <th>Name</th>
            </thead>
            <tbody>
            {% for ranked in ladder.ranking %}
                <tr class="ladder-rank-table-row">
                    <td>{{ ranked.rank }}</td>
                    <td>{{ ranked.player }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    $(function() {
        $("#ladder-cancel-link").position({of: $("#ladder-header"), my: "right center", at: "right center"});
        $("#ladder-save-link").position({of: $("#ladder-cancel-link"), my: "right center", at: "left center"});
    })
</script>