<div class="monkey-form-div {% if form.number_of_games %}game-entry{% endif %}">
    <form id="match-entry-form" class="well" method="post" action="{{ ladder.get_absolute_url }}/matches/create/?games={{ form.number_of_games }}">{% csrf_token %}
        {% if not form.number_of_games %}
	        <fieldset>
	            <div class="container-fluid">
	                <div class="row-fluid">
	                   <div id="id_player_one-group" class="span8 ">{{ form.player_one.label_tag }}{{ form.player_one }}
	                   {% if form.errors.player_one %}
                       <div class="right-side-tooltip-error hidden">{{ form.errors.player_one|removetags:'ul li' }}</div>
                       {% endif %}
	                   </div>
	                   <div id="id_player_one_score-group" class="span4 ">{{ form.player_one_score.label_tag }}{{ form.player_one_score }}
	                   {% if form.errors.player_one_score %}
                       <div class="right-side-tooltip-error hidden">{{ form.errors.player_one_score|removetags:'ul li' }}</div>
                       {% endif %}
	                   </div>
	                </div>
	                <div class="row-fluid">
	                    <div id="id_player_two-group" class="span8 ">{{ form.player_two.label_tag }}{{ form.player_two }}
	                    {% if form.errors.player_two %}
                        <div class="right-side-tooltip-error hidden">{{ form.errors.player_two|removetags:'ul li' }}</div>
                        {% endif %}
	                    </div>
	                    <div id="id_player_two_score-group" class="span4 ">{{ form.player_two_score.label_tag }}{{ form.player_two_score }}
	                    {% if form.errors.player_two_score %}
                       <div class="right-side-tooltip-error hidden">{{ form.errors.player_two_score|removetags:'ul li' }}</div>
                       {% endif %}
	                    </div>
	               </div>
	            </div>
	        </fieldset>
        {% else %}
	        <fieldset>
	            <div class="container-fluid">
	                <div class="row-fluid">
	                   <div id="id_player_one-group" class="span6">{{ form.player_one.label_tag }}{{ form.player_one }}
	                   {% if form.errors.player_one %}
                       <div class="right-side-tooltip-error hidden">{{ form.errors.player_one|removetags:'ul li' }}</div>
                       {% endif %}
	                   </div>
	                   <div id="id_player_two-group" class="span6">{{ form.player_two.label_tag }}{{ form.player_two }}
	                   {% if form.errors.player_two %}
                       <div class="right-side-tooltip-error hidden">{{ form.errors.player_two|removetags:'ul li' }}</div>
                       {% endif %}
	                   </div>
	                </div>
	                {% for player_one_score, player_two_score in form.games %}
	                <div class="row-fluid">
	                    <div class="span6">{{ player_one_score }}</div>
	                    <div class="span6">{{ player_two_score }}</div>
	                </div>
	                {% endfor %}
	            </div>
	        </fieldset>
        {% endif %}
        {% if form.non_field_errors %} 
            <div class="generic-error">{{ form.non_field_errors|removetags:"ul li" }}</div>
        {% endif %}
        <div class="monkey-form-actions">
            <input id="match-entry-form-submit" class="btn btn-large btn-success" type="submit" value="Submit Match" />
            {% if not form.number_of_games %}
                <a class="btn btn-large ajax-load" href="{{ ladder.get_absolute_url }}/matches/create?games=3" data-load-destination-id="match-entry-span">Game Entry</a>
            {% else %}
	            <a class="btn btn-large ajax-load" href="{{ ladder.get_absolute_url }}/matches/create" data-load-destination-id="match-entry-span">Simple Entry</a>
	            <div style="float:right;" class="btn-group">
	            <a class="btn btn-large ajax-load" href="{{ ladder.get_absolute_url }}/matches/create?games={{ form.number_of_games|add:'1' }}" data-load-destination-id="match-entry-span"><i class="icon-chevron-down"></i></a>
	            <a class="btn btn-large ajax-load" href="{{ ladder.get_absolute_url }}/matches/create?games={{ form.number_of_games|add:'-1' }}" data-load-destination-id="match-entry-span"><i class="icon-chevron-up"></i></a>
                </div>
            {% endif %}
        </div>
        {% if form.success %}<div class="generic-success">Match created successfully</div>{% endif %}
    </form>
    <div id="player-name-autocomplete-data" class="hidden">{{ player_names }}</div>
</div>
<script type="text/javascript">
$(function() {
    var form = $("#match-entry-form");
    form.submit(function(e) {
    	var submit_button = $("#match-entry-form-submit")
        submit_button.attr('disabled', true)
        $("#match-entry-span").load(form.attr('action'), form.serializeArray(), function(responseText, responseStatus) {
        	submit_button.attr('disabled', false)
            if (responseStatus == "error") {
                $("#match-entry-form").append("<div class='error'>Match failed to submit.</div>")
            } else {
                $("#ladder-display-span").load("{{ form.ladder.get_absolute_url }}/content/ladder_display")
                $("#match-feed-span").load("/ladders/leaderboard/content/matches/?ladder_id={{ form.ladder.id }}")
            }
            createRightSideErrorTooltips()
        });
        e.preventDefault(); 
    });
});
$(function() {
    setupMatchEntry()
    setupAjaxLoad()
})
</script>