{% load humanize %}

<div class="row">
    <div class="span{{ match_feed_size|default:'6' }} page-header muted">
        <h2>{{ match_feed_name|default:'Recent Matches' }}</h2>
    </div>
</div>
<div class="row match-feed-body">
    <div class="span{{ match_feed_size|default:'6' }}">
        <table class="table no-horizontal-lines-table bold-table centered-table">
            <tbody>
		    {% for match in match_feed %}
				<tr>
				    <td>{{ match }}</td>
				    <td>{{ match.created|naturaltime }}</td>
				    <td class="view-button-parent"><a class="btn" href="{{ match.get_absolute_url }}">View</a></td>
				</tr>
			{% endfor %}
			</tbody>
        </table>
    </div>
</div>