{% load humanize %}
<div class="row">
	<div class="span{{ matchups_span_size|default:'6' }}">
	    <div id="matchups-well" class="well">
	        <h3 style="float: left">Matchups</h3>
	        <div id="matchup-ladder-select-div">
        	{% if matchup_user_ladders %}
	        	<select>
	        		<option value="">All Ladders</option>
	        		{% for ladder in matchup_user_ladders %}
	        		<option {% if matchup_ladder == ladder %}selected {% endif %}value="{{ ladder.id }}">{{ ladder }}</option>
	        		{% endfor %}
	        	</select>
        	{% endif %}
	        </div>
	        <table class="table centered-table">
	        	<thead>
	        		<tr>
	        			<th>User</th><th>Match Win %</th><th>Game Win %</th>
	        		</tr>
	        	</thead>
	        	<tbody>
		        	{% for matchup in matchups %}
			            <tr>
			                <tr id="matchup-entry-{{ matchup.user.id }}-{{ matchup.ladder_id }}" class="matchup-entry">
			                    <td>vs {{ matchup.user.get_profile.name }}</td>
			                    <td>{{ matchup.match_win_percentage|floatformat }}&#37;</td>
			                    <td>{{ matchup.game_win_percentage|floatformat }}&#37;</td>
			                </tr>
			            </tr>
		        	{% empty %}
			            <tr>
			                <td>-</td><td>-</td><td>-</td>
			            </tr>
		        	{% endfor %}
	        	</tbody>	
	        </table>
	        <div class="pagination">
                <ul>
                    <li id="matchups-prev" {% if not matchup_users.has_previous %}class="disabled"{% endif %}><a class="{% if matchup_users.has_previous %}ajax-load{% endif %}" href="/ladders/leaderboard/content/matchup?ladder_id={{ matchup_ladder.id }}&user_id={{ matchup_user.id }}&page={{ matchup_users.previous_page_number }}&size={{ matchups_size }}" data-load-destination-id="player-matchup-span">Previous</a></li>
					<li id="matchups-next" {% if not matchup_users.has_next %}class="disabled"{% endif %}><a class="{% if matchup_users.has_next %}ajax-load{% endif %}" href="/ladders/leaderboard/content/matchup?ladder_id={{ matchup_ladder.id }}&user_id={{ matchup_user.id }}&page={{ matchup_users.next_page_number }}&size={{ matchups_size }}" data-load-destination-id="player-matchup-span">Next</a></li>
                </ul>
            </div>
	    </div>
	</div>
</div>

<script type="text/javascript">
$(function () {
	linkAjaxAnchorLoad()
	$("#matchup-ladder-select-div").change(function () {
		$("#player-matchup-span").load("/ladders/leaderboard/content/matchup?ladder_id="+$(this).find("option:selected").attr("value")+"&user_id={{ matchup_user.id }}")
	})
})
</script>