<div class="monkey-form-div">    
	{% if not games %}
    <form id="match-entry-form" class="well" method="post" action="/ladders/{{ ladder.id }}/leaderboard/matches/create/">{% csrf_token %}
        <fieldset>
	        <div class="container-fluid">
	            <div class="row-fluid">
		           <div id="id_player_one-group" class="span8 ">{{ form.player_one.label_tag }}{{ form.player_one }}</div>
	               <div id="id_player_one_score-group" class="span4 ">{{ form.player_one_score.label_tag }}{{ form.player_one_score }}</div>
	            </div>
	            <div class="row-fluid">
	                <div id="id_player_two-group" class="span8 ">{{ form.player_two.label_tag }}{{ form.player_two }}</div>
	                <div id="id_player_two_score-group" class="span4 ">{{ form.player_two_score.label_tag }}{{ form.player_two_score }}</div>
		       </div>
	        </div>
        </fieldset>
        <fieldset>
            <input type="hidden" name="next" value="{{ request.path }}"/>
        </fieldset>
        <div class="monkey-form-actions">
            <input id="match-entry-form-submit" class="btn btn-large" type="submit" value="Submit Match" />
            <a class="btn btn-large" href="/ladders/{{ ladder.id }}?games=3">Game Entry</a>
        </div>    
    </form>
    
    {% else %}
    <form class="" action="/ladders/{{ ladder.id }}/leaderboard/matches/create/?games={{ games }}" method="post">{% csrf_token %}
        <table id="match-entry-table">
            <tbody>
                <tr>
                    <td id="match-first-player" class="match-player-entry">
                        {{ form.player_one.label_tag }}{{ form.player_one }}
                    </td>
                    <td id="match-second-player" class="match-player-entry">
                        {{ form.player_two.label_tag }}{{ form.player_two }}
                    </td>
                </tr>
                {% for game in form.games %}
               	<tr>
                   {% for score in game %}
                   <td>{{ score }}</td>
                   {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ form.ladder_id }}
        <input type="hidden" name="next" value="{{ request.path }}"/>
        <div id="match-entry-form-submit">
            <input class="btn btn-large" type="submit" value="Submit Match" />
            <a href="/ladders/{{ ladder.id }}/" class="btn btn-large">Simple Entry</a>
            <a href="/ladders/{{ ladder.id }}?games={{ games|add:"1" }}" class="btn btn-large">More Games</a>
            <a href="/ladders/{{ ladder.id }}?games={{ games|add:"-1" }}" class="btn btn-large">Less Games</a>
        </div>
    </form>
    {% endif %}
</div>
<script type="text/javascript">
	$("#match-entry-span input").attr("autocomplete", "off")
	$(".player-name-autocomplete").typeahead({
	    source: [{% autoescape off %}{{ player_names }}{% endautoescape %}], items: 10
	});
	$(function () {
	    function errorTooltip(id, content) {
	        var group = $("#" + id)
	        group.addClass("form-error")
	        group.tooltip({
	            placement: "right", title: content
	        });
	    }
	    {% if form.errors.player_one %}errorTooltip("id_player_one-group", "{{ form.errors.player_one|removetags:'ul li'}}"){% endif %}
	    {% if form.errors.player_one_score %}errorTooltip("id_player_one_score-group", "{{ form.errors.player_one_score|removetags:'ul li'}}"){% endif %}
	    {% if form.errors.player_two %}errorTooltip("id_player_two-group", "{{ form.errors.player_two|removetags:'ul li'}}"){% endif %}
	    {% if form.errors.player_two_score %}errorTooltip("id_player_two_score-group", "{{ form.errors.player_two_score|removetags:'ul li'}}"){% endif %}
	})
    $(function() {
	    var form = $("#match-entry-form");
	    form.submit(function(e) {
	        $("#match-entry-form-submit").attr('disabled', true)
	        $("#match-entry-span").load(form.attr('action'), form.serializeArray(), function(responseText, responseStatus) {
	            $("#match-entry-form-submit").attr('disabled', false)
	            if (responseStatus == "error") {
	            } else {
	                $("#ladder-display-span").load("content/ladder_display/")
	                $("#match-feed-span").load("leaderboard/content/match_feed/")
	            }
	        });
	        e.preventDefault(); 
	    });
	}); 
</script>