<div class="row">
	<div class="span6">
	    <div class="well">
	        <h3 class="">Match Statistics</h3>
	        <table class="table centered-table">
	        	<tbody>
		            <tr>
	                    <td>Matches Won</td>
	                    <td>{{ matches_won }}</td>
		            </tr>
		            <tr>
	                    <td>Matches Played</td>
	                    <td>{{ matches_played }}</td>
		            </tr>
		            <tr>
		            	<td>Match Win Percentage</td>
		            	<td>{% if match_win_percentage %}{{ match_win_percentage|floatformat }}&#37;{% else %}-{% endif %}</td>
		            </tr>
		            <tr>
		                <td>Game Win Percentage</td>
		                <td>{% if game_win_percentage %}{{ game_win_percentage|floatformat }}&#37;{% else %}-{% endif %}</td>
		            </tr>
	        	</tbody>	
	        </table>
	    </div>
	</div>
</div>