<div class="monkey-form-div">
    <form class="form-horizontal" action="/ladders/create/" method="post">{% csrf_token %}
        <fieldset>
            <div id="id_name-group" class="control-group">{{ form.name.label_tag }}
	            <div class="controls">{{ form.name }}</div>
	            {% if form.errors.name %}
                <div class="right-side-tooltip-error hidden">{{ form.errors.name|removetags:'ul li' }}</div>
                {% endif %}
            </div>
            <div id="id_rungs-group" class="control-group">{{ form.rungs.label_tag }}
                <div class="controls">{{ form.rungs }}</div>
                {% if form.errors.rungs %}
                <div class="right-side-tooltip-error hidden">{{ form.errors.rungs|removetags:'ul li' }}</div>
                {% endif %}
            </div>
            <div class="control-group">{{ form.is_private.label_tag }}
                <div class="controls"><label class="checkbox">{{ form.is_private }}</label></div>
                {% if form.errors.is_private %}
                <div class="right-side-tooltip-error hidden">{{ form.errors.is_privatelast_name|removetags:'ul li' }}</div>
                {% endif %}
            </div>
            <div class="control-group">{{ form.type.label_tag }}
                <div class="controls">{{ form.type }}</div>
                {% if form.errors.type %}
              <div class="right-side-tooltip-error hidden">{{ form.errors.type|removetags:'ul li' }}</div>
              {% endif %}
            </div>
        </fieldset> 
        <fieldset>
        {{ form.user_id }}
            <input type="hidden" name="next" value="{{ request.path }}"/>
        </fieldset>     
        <div class="monkey-form-actions">
            <input id="create-ladder-submit" class="btn btn-large btn-success" type="submit" value="Create" />
            <a class="btn btn-large" href="/home">Cancel</a>
        </div>   
    </form>
</div>