.ladder-rank-table-row {
    font-size: 135%;
}

.ladder-rank-table-row td.rank{
	width: 20%;
}

#ladder-edit-link {
	position: absolute;
}

#ladder-config-page .monkey-form-div {
    width: 500px;
}
