.ladder-rank-table-row {
    font-size: 125%;
}

.ladder-rank-table-row td.rank {
	width: 20%;
}

#ladder-edit-link {
	position: absolute;
}

#ladder-config-page .monkey-form-div {
    width: 500px;
}

#delete-ladder-span {
	margin: 20px 20px 20px 20px;
	text-align: center;
}

#delete-ladder-span button {
	width: 200px;
}

.feed > h3 {
	float: left;
}