#login-page,
#register-page {
	background-color: #eee;
}
 
#login-page .monkey-form-div {
	width: 411px;
}

#login-page #register-link {
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 110%;
	font-family: cursive;
	text-align: center;
}

#register-page .monkey-form-div {
	width: 704px;
}

#register-form-success {
	font-size: 120%;
	text-align: center;
}