#login-page,
#register-page {
	background-color: #eee;
}
 
#login-page .monkey-form-div {
	width: 411px;
}

#login-page #login-register-link-div {
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 110%;
	font-family: cursive;
	text-align: center;
}

#register-page .monkey-form-div {
	width: 704px;
}

#register-form-success {
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 120%;
	text-align: center;
}

#register-page .monkey-form-label, 
#register-page .monkey-form-input {
	width: 50%;
}

#register-page .monkey-form-label {
	text-align: right;
	padding-right: 50px;
}

#register-page .monkey-form-input {
	padding-left: 0;
}