<div monkey-form-div-free">
    <div class="page-header muted">
	    <h1 id="ladder-header">{{ ladder.name }}</h1>
	    {% if not ladder_edit_form and watcher and watcher.admin %}
	    <a id="ladder-edit-link" class="btn btn-large btn-info absolute ajax-load" href="{{ ladder.get_absolute_url }}/edit/" data-load-target="ladder-display-span">Edit</a>
	    {% endif %}
	    {% if not watcher and not request.user.is_anonymous %}
	    <a id="ladder-watch-link" class="btn btn-large btn-info absolute" href="{{ ladder.get_general_url}}/watch/">Watch</a>
	    {% endif %}
    </div>
    <table class="table table-striped tbcentered-table">
    {% block ladder_entries %}
        <thead>
            <tr><th>Rank</th><th>Name</th></tr>
        </thead>
        <tbody>
        {% for ranked in ladder.ranking %}
         <tr id="ladder-rank-{{ ranked.rank }}" class="ladder-rank-table-row">
             <td class="rank">{{ ranked.rank }}</td><td>{{ ranked.display }}</td>
         </tr>
        {% empty %}
            <tr><td>-</td><td>-</td></tr>
        {% endfor %}
        </tbody>
    {% endblock %}
    </table>
</div>
<script type="text/javascript">
$(function() {
    $("#ladder-edit-link").position({of: $("#ladder-header"), my: "right center", at: "right center"});
    $("#ladder-watch-link").position({of: $("#ladder-header"), my: "right center", at: "right center"});
})
</script>