#server-error-page,
#not-found-error-page,
#footer .container,
body {
	background-color: #eee;
}

div.container {
	padding: 50px 20px 20px 20px;
	background-color: #fff;
}

div.container-dark {
    background-color: #eee;
}

.error-page {
	text-align: center;
}

.error-page img,
.error-page p {
	font-size: 110%;
}

.error-page img {
    margin-top: 25px;
}

.small-header {
	border-bottom: 1px solid #dddddd;
}

.absolute {
	position: absolute;
}

.view-button-parent {
	text-align: right;
}

.no-horizontal-lines-table td {
	border-top-width: 0px;
}

.ladder-table {
	font-size: 120%;
	font-weight: bold;
}

.centered-table td {
	vertical-align: middle;
}