.monkey-form-div {
	width: 600px;
	margin: 40px auto auto auto; 
	border: 1px solid #ccc;
	background-color: #fff;
}

.monkey-form-div .form-error {
    background-color: #ff8c8c;
}

.monkey-form-div .control-group {
    margin: 5px 0px;
    padding: 5px 0px;
}

.monkey-form-div-free input,
.monkey-form-div input {
    margin-bottom: 0px;
}

.monkey-form-div label {
    text-align: right;
}

.monkey-form-actions {
    text-align: center;
    padding: 10px 0px;
    margin: 10px 0px;
}

.monkey-form-actions a,
.monkey-form-actions input {
	margin-left: 5px;
	margin-right: 5px;
}

.tooltip {
	font-size: 140%;
}

.monkey-form-span .error {
    text-align: center;
    color: red;
    font-style: italic;
    font-size: 120%;
}

.monkey-form-span .success {
    text-align: center;
    color: green;
    font-style: italic;
    font-size: 120%;
}