<div class="row ladder-feed-header">
    <div class="span{{ ladder_feed_size|default:'3' }} page-header muted">
        <h2>{{ ladder_feed_name|default:'Ladder Feed' }}</h2>
    </div>
</div>
<div class="row ladder-feed-body">
    <div class="span{{ ladder_feed_size|default:'3' }}">
        <table class="table no-horizontal-lines-table ladder-table centered-table">
            <tbody>
		    {% for ladder in ladder_feed %}
				<tr>
				    <td>{{ ladder.name }}</td>
				    {% if not hide_watcher_count %}<td>{{ ladder.watcher_count }}</td>{% endif %}
				    <td class="view-button-parent" style="text-align: right"><a class="btn btn-small" href="{{ ladder.get_absolute_url }}">View</a></td>
				</tr>
			{% endfor %}
			</tbody>
        </table>
    </div>
</div>