<div class="row">
    <div class="span{{ ladder_display_size|default:'6' }} page-header muted">
        <h1 id="ladder-header">{{ ladder.name }}</h1>
        {% if admin %}<a id="ladder-edit-link" class="btn btn-medium" href="#">Edit</a>{% endif %}
        {% if not_watching %}<a id="ladder-watch-link" class="btn btn-medium absolute" href="#">Watch</a>{% endif %}
    </div>
</div>
<div class="row">
    <div class="span{{ ladder_display_size|default:'6' }}">
        <table class="table table-striped centered-table">
            <thead>
                <th>Rank</th>
                <th>Name</th>
            </thead>
            <tbody>
            {% block ladder_entries %}
            {% for ranked in ladder.ranking %}
                <tr class="ladder-rank-table-row">
                    <td>{{ ranked.rank }}</td>
                    <td>{{ ranked }}</td>
                </tr>
            {% endfor %}
            {% endblock %}
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    $(function() {
        $("#ladder-edit-link").position({of: $("#ladder-header"), my: "right center", at: "right center"});
        $("#ladder-watch-link").position({of: $("#ladder-header"), my: "right center", at: "right center"});
    })
    $(function() {
        $("#ladder-edit-link").bind("click", function(e) {
            $("#ladder-display-span").load("{{ ladder.get_absolute_url }}edit/")
        })
    });
    $(function() {
        $("#ladder-watch-link").bind("click", function(e) {
            $("#ladder-display-span").load("{{ ladder.get_absolute_url }}watch/")
        })
    });
</script>