<div class="monkey-form-div">
    <form class="" action="/ladders/create/" method="post">{% csrf_token %}
        <table id="match-entry-table">
            <tbody>
                <tr>
                    <td>{{ form.name.label_tag }}</td>
                    <td {% if form.errors.name %}class="error"{% endif %}>{{ form.name }}</td>
                </tr>
                <tr>
                    <td>{{ form.rungs.label_tag }}</td>
                    <td>{{ form.rungs }}</td>
                </tr>
                <tr>
                    <td>{{ form.is_private.label_tag }}</td>
                    <td>{{ form.is_private }}</td>
                </tr>
                <tr>
                    <td>{{ form.type.label_tag }}</td>
                    <td>{{ form.type }}</td>
                </tr>
            </tbody>
        </table>
        {{ form.user_id }}
        <input type="hidden" name="next" value="{{ request.path }}"/>
        <div style="text-align: center;">
            <input class="btn btn-large" type="submit" value="Create Ladder" />
        </div>   
    </form>
    {% if form.success %}
        <div id="match-created-success" class="success">
            <div>
                <p>{{ form.success }}</p>
            </div>
        </div>
    {% endif %}
    {% if form.errors %}
        <div id="site-error" class="error">
            <div>
                <p>{{ form.errors }}</p>
            </div>
        </div>
    {% endif %}
</div>
<script type="text/javascript">
    $("#id_user_id").attr("value", {{ request.user.id }});
</script>