<div class="row">
    <div class="span{{ feed_size|default:'6' }}">
        <div class="well">
            <h3 class="small-header">Watched Ladders</h2>
            <table class="table centered-table">
                <thead>
                    <th>Ladder</th>
                    <th>Admin</th>
                    <th>Moderator</th>
                    <th></th>
                </thead>
                <tbody>
                {% for ladder, watcher in watched_feed %}
                    <tr>
                        <td>{{ ladder }}</td>
                        <td>{% if watcher.admin %}<i class="icon-ok"/>{% endif %}</td>
                        <td>{% if watcher.mod %}<i class="icon-ok"/>{% endif %}</td>
                        <td class="view-button-parent"><a class="btn" href="{{ ladder.get_absolute_url }}">View</a></td>
                    </tr>
                {% empty %}
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>