<div id="footer">
	<div id="footer-container" class="container">
	{% if site_error_message %}
		<div id="site-error" class="row error">
			<div class="span12">
				<p>{{ site_error_message }}</p>
			</div>
		</div>	
	{% endif %}
		<div id="author" class="row">
			<div class="span12">
			    <p>v{{ version_number|default:"0.0.0" }} | <a href="https://bitbucket.org/garjust/monkeyladder/issues">Bug Reporting</a></p>
				<p>Built and designed by Justin Garbutt &copy; 2012 - present using Django</p>
			</div>
		</div>	
	</div>
</div>