{% if navbar_active %}
<script type="text/javascript">
	$(function() { $("#nav-{{ navbar_active }}-link").parent().addClass("active") });
</script>
{% endif %}
<div id="navbar" class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <div id="navbar-brand" class="span2 brand">monkeyladder</div>
            <div class="nav-collapse">
                <ul class="nav">
                    <li><a id="nav-home-link" href="/home/">Home</a></li>
                    {% if request.user.is_authenticated %}<li><a id="nav-activity-link" href="/ladders/activity/">Activity</a></li>{% endif %}
                </ul>
            </div>
        {% if ladder %}
            <div class="nav-collapse">
                <ul class="nav nav-padded-left">
                    <li><a id="nav-ladder-link" href="{{ ladder.get_absolute_url }}">{{ ladder.name }}</a></li>
                    <li><a id="nav-watchers-link" href="{{ ladder.get_absolute_url }}watchers/">Watchers</a></li>
                    <li><a id="nav-matches-link" href="{{ ladder.get_absolute_url }}leaderboard/matches/">Matches</a></li>
                    {% block special_ladder_nav_links %}{% endblock %}
                </ul>
            </div>
        {% endif %}
        	<div class="nav-collapse">
                <div class="navbar-text pull-right">   
                	<ul class="nav">
                	{% if not request.user.is_authenticated %}
                    	<li class="session-link"><a id="nav-login-link" href="/accounts/login/">Log In</a></li>
                	{% else %}
                		<li class="session-link"><a id="nav-profile-link" href="{{ request.user.get_profile.get_absolute_url }}">Logged in as {{ request.user.get_full_name }}</a></li>
                   		<li class="session-link"><a id="nav-logout-link" href="/accounts/logout/">Log Out</a></li>
                	{% endif %}
                	</ul>
                </div>
            </div>        
        </div>
    </div>
</div>