<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="/static/bootstrap/css/bootstrap-responsive.css">

<link rel="stylesheet" href="/static/jquery-ui-bootstrap/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="/static/jquery-ui-bootstrap/css/custom-theme/jquery-ui-1.8.16.custom.css">

<link rel="stylesheet" href="/static/base.css">
<link rel="stylesheet" href="/static/footer.css">
<link rel="stylesheet" href="/static/navbar.css">
<link rel="stylesheet" href="/static/ladders.css">
<link rel="stylesheet" href="/static/login.css">