<div class="row">
    <div class="span6">         
	    <div>
	        <table class="table">
	            <tr>
	                <td>Username</td>
	                <td>{{ user.username }}</td>
	            </tr>
	            <tr>
	                <td>First Name</td>
	                <td>{{ user.first_name }}</td>
	            </tr>
	            <tr>
	                <td>Last Name</td>
	                <td>{{ user.last_name }}</td>
	            </tr>
	            {% comment %}
	            <tr>
	                <td>Email</td>
	                <td>*CENSORED*</td>
	            </tr>
	            {% endcomment %}
	        </table>
	    </div>
	</div>
</div>
