#main-span div {
    margin-top: 10px;
}

#main-span .hero-unit {
	padding-top: 25px;
	padding-bottom: 25px;
}

#main-span .hero-unit a {
	font-size: 110%;
}

#main-span p.hero-unit-links {
	padding-top: 20px;
}