.ladder-rank-table-row {
    height: 50px;
    font-size: 150%;
}

#update_match {
    margin: 0px auto 0px auto;
    text-align: center;
    vertical-align: middle;
}

.match-entry {
    /* display: none; */
}

.nav-padded-right {
    padding-right: 30px;
}

.nav-padded-left {
    padding-left: 30px;
}

.session-link,
.admin-link {
	background-color: #282841;
}

.session-link:hover,
.admin-link:hover {
	background-color: #212161;
}

.session-link {
	margin-right: 5px;
	margin-left: 5px;
}

.admin-link {
	margin-left: 30px;
}